/*  consists of styles for various forms */

.form-list{
        width: 65%;
        display: block;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border: solid 1pt rgb(24, 23, 23);
        /* flex: 0 0 400px; */
}

.forms{
        width: 55%;
        background-color: rgb(247, 244, 244);
        border: solid 1pt rgb(218, 218, 218);
        border-radius: 15px;
        margin-bottom: 50px;
        margin-top: 15px;
        margin-left: 230px;
        padding: 32px;
        border: solid grey;
        box-shadow: 0 1 3rem rgb(75, 74, 74);
}

.input-fields{
    font-size: 20px;
    color: gray;
    padding: 5px;
}

input{
    height: 25px;
}

.buttons{
    background-color: rgb(221, 109, 44);
    height: 30px;
    width: 100px;
    color: white;
    font-size: 15px;
    margin-top: 5px;
}