/* Styles for post previews */

img {
  width: 75%;
}

.blog-posts {
  width: 65%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  /* flex: 0 0 400px; */
}

.post-content {
  width: 85%;
  background-color: rgb(247, 244, 244);
  border: solid 1pt rgb(218, 218, 218);
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 32px;
  cursor: pointer;
  box-shadow: 0 1 3rem rgb(179, 177, 177);
}

.post-title {
  margin-bottom: 16px;
}

.post-info span {
  color: #999;
}

.post-inner {
  display: flex;
  padding-top: 1em;
}

.post-pic {
  flex: 0 0 25%;
  margin-right: 2em;
  display: inline-block;
}

.post-pic img {
  width: 100%;
}

.publisher {
  color: rgb(134, 134, 134);
}

.post-text {
  font-size: 15px;
}

/* Media queries */
@media screen and (max-width: 1068px) {
  .blog-post {
    max-width: 80rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
    max-width: 70rem;
  }
}

@media screen and (max-width: 1068px) {
  .blog-post {
    padding: 2.5rem;
    flex-direction: column;
  }

  .post-inner {
    flex-direction: column;
  }
  .post-pic {
    flex: 0 0 100%;
    margin: 0;
  }
}
